{% extends 'products/base/base.html' %}

{% block title %}Product list{% endblock %}

{% block content %}

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Артикул</th>
            <th scope="col">Наименование</th>
            <th scope="col">Цена,грн</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
        <tr>
            <th scope="row">
                <p>{{ product.number }}</p>
            </th>
            <td>
                <p>{{ product.code }}</p>
            </td>
            <td>
                <p><a href="{% url 'products:details' product.id %}">{{ product.title }}</a></p>
            </td>
            <td>
                <p>{{ product.price }}</p>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}